<div id="wrapper">
  <div id="header">
    <h1>Desires</h1>
    <ul>
      <h2>c o f f e e, t e a, o r ...</h2>
      <li>or Signup</li>
      <li>
	      <% form_for @user do |f| %>
          <%= f.text_field :login, :size => 24 %>
          <%= f.password_field :password, :size => 32 %>
          <%= f.submit 'Login' %>
        <% end %>
	    </li>
	  </ul>
  </div>
  
  <div id="reserved"></div>
</div>

<div id="footer">
  <ul>
    <li>Copyright © 2009 Adikos. All rights reserved.</li>
    <li>Terms of Use</li>
	  <li style="border: none">Privacy Policy</li>
  </ul>
</div>

<% content_for :head do %>
  <%= stylesheet_link_tag 'main/layout', 'main/style' %>
<% end %>