/* global area CSS layouts */
html, body {
	height: 100%;
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}
#footer, #reserved {
	height: 40px;
}
#header {
	height: 40px;
	padding-top: 20px;
}