body { 
  color: #333;
  background: #fff url(/images/sprite.png) repeat-x scroll 0px 0px;
	padding: 2em;
	padding-top: 1em;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:hover { color: #fff; background-color:#000; }

h1 { 
	background-color: #cce8cf; 
}

#container {
	border: 6px solid #cce8cf;
	border-left: 0;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#navigation {
	float: left;
	width: 40%;
}
#total-items {
	float: left;
	width: 15%;
}
#total-expenses {
	float: left;
	width: 15%;
}
#total-budgets {
  float: left;
  width: 15%;
}
#tobuy-items {
  float: left;
  width: 15%;
}

span.clear { clear: both; display: block; }

#content {
	width: 70%;
	margin: 0 auto;
}

ul, li {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
li.item { height: 22px; line-height: 22px; }
li.item:hover { background-color: #cce8cf; color: #42974d; }
li.item a.name {
  float: left;
}
li.item a { text-decoration: none; }
li.item a.name:hover { color: #42974d; background-color: #cce8cf; }
li.purchased a.name:after { content: url(/images/ok.png); }
li.purchased a.name { color: #777; }
li.purchased { color: #777; }
li.item div.price {
  float: right;
}
li.item img { margin-bottom: -3px; }

li.large { background-color: rgb(214, 252, 217); }
li.medium { background-color: rgb(224, 255, 227); }
li.little { background-color: rgb(234, 255, 237); }

