/* global area tags */
a:visited	{ color: inherit; }
a:hover		{ text-decoration: underline; }
ul, li		{ list-style: none; }
body		{ color: #42974d; background-color: #fff; font-family: Helvetica, verdana, sans-serif; }
a			{ color: inherit; text-decoration: none; }

/* global area utilities */
span.left	{ float: left; }
span.right	{ float: right; }
span.clear: { clear: both; display: block; }
	
/* global area styles */
#header ul, #footer ul { 
	background: #fff url(/images/hr.png) repeat-x scroll 0px center;
	height: 30px;
	padding: 0 20px;
}
#header li, #footer li { 
	display: inline; 
	line-height: 30px; 
}
#header li {
	float: right;
	font-size: 80%;
	padding: 0 4px;
}
#footer li {
	border-right: 1px solid #42974d;
	font-size: 70%;
	padding: 0 4px;
}
#session_login, #session_password {
	font-family: Georgia, New York, Times, serif;
	width: 100px;
	border: 1px inset #cce8cf;
	border-right: 3px double #cce8cf;
	border-bottom: 3px double #cce8cf;
}
#session_submit {
	padding: 1px;
	border: 1px outset #cce8cf;
	background-color: #cce8cf;
	color: #42974d;
}
li p.error {
	position: absolute;
	top: -25px;
	font-size: 80%;
	color: red;
}
li span.error {
	border-left: 3px solid red;
}
#content {
	padding: 10px 5%;
	font-family: Georgia, New York, Times, serif;
	color: #555;
	font-size: 110%;
}

