/* global area tags */
a:visited	{ color: #42974d; }
a:hover		{ text-decoration: underline; }
ul, li		{ list-style: none; }
body		{ color: #444; background-color: #fff; font-family: Helvetica, verdana, sans-serif; }
a			{ color: #42974d; text-decoration: none; }

/* global area utilities */
span.left	{ float: left; }
span.right	{ float: right; }
span.clear 	{ clear: both; display: block; }
	
/* global area styles */
#header ul, #footer ul { 
	background: transparent url(/images/hr.png) repeat-x scroll 0px center;
	height: 20px;
	padding: 0 20px;
}
#header li, #footer li { 
	display: inline; 
	line-height: 20px; 
}
#header li {
	float: right;
	font-size: 80%;
	padding: 0 4px;
}
#footer li {
	border-right: 1px solid #42974d;
	font-size: 70%;
	padding: 0 4px;
}
#content {
	margin: 0 20px;
	font-family: Georgia, New York, Times, serif;
	font-size: 120%;
	position: relative;
}