<div class="center"><%= image_tag 'unknown.png', :size => '128x128' %></div>

<ul>
  <li>
    <span class="left">
      <b>name: </b>
    </span>
    <span class="right">
      <%= link_to item.name, item %>
    </span>
    <span class="clear"></span>
  </li>
  <hr />
  <li>
    <span class="left">
      <b>price: </b>
    </span>
    <span class="right">
      <%= item.price.nil? ? 'none' : item.price.to_i %>
    </span>
    <span class="clear"></span>
  </li>
  <hr />
  <li>
    <span class="left">
      <b>link: </b>
    </span>
    <span class="right">
      <%= item.link.blank? ? 'none' : link_to(item.link, item.link) %>
    </span>
    <span class="clear"></span>
  </li>
</ul>