#content {
    border: 15px solid #cce8cf;
    border-left-color: #fff;
    padding: 10px 5%;
    
    font-family: Georgia, New York, Times, serif;
    color: #777;
    font-size: 110%;
}
hr {
    border: 1px dotted #cce8cf;
}
#content li {
    line-height: 150%;
    height: 150%;
}
#content a:hover {
    color: #42974d;
}